* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: #242934;
    background-color: #f5f7fb;
}

.hero-bg {
    background-image: url("../images/header-imgg.png");
    background-repeat: no-repeat;
}

.space-hero {
    padding-left: 10%;
}

.hero-text {
    color: black;
}

.p-hero {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

.overflow-view {
    overflow-y: none;
}

.navbar {
    background-color: white !important;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.35);
    font-size: 13px;
}

.active::before {
    content: "";
    position: absolute;
    bottom: 15px;
    height: 5px;
    width: 20px;
    border-radius: 20px;
    background-color: #0e29ce;
    opacity: 0;
    transition: all 0.3s ease;
}

.active::before {
    opacity: 1;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.h1-bigstyle {
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
}

section h4 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.p-section {
    font-size: 15px;
    border: 1px solid #0e29ce;
    border-radius: 5px;
    width: fit-content;
    margin-left: 14px;
    padding: 12px;
}

.active {
    display: flex;
    justify-content: center;
}

.about-page {
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.right-style-text {
    text-align: right;
}

.left-style-text {
    text-align: left;
}

.content-right {
    color: rgb(77, 77, 77);
    position: relative;
    font-size: 13px;
}

.footer {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.35);
    background-color: rgb(233, 233, 233);
    padding: 8px;
}

.btn {
    background-color: #0e29ce;
}

.card {
    width: 100%;
    min-height: 300px;
}

.card .comment {
    display: none;
}

.card:hover {
    background-color: #ebebeb;
    font-size: 14px;
}

.card:hover .replies {
    display: none;
}

.card:hover .comment {
    display: inline;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .hero-bg {
        background-image: none;
        background-color: #db7f23;
    }

    .h1-bigstyle {
        font-size: 50px;
        line-height: 50px;
    }

    .right-style-text {
        text-align: center;
    }

    .left-style-text {
        text-align: center;
    }

    li .nav-item .active {
        display: hidden;
    }

    .hero-text {
        color: white;
    }

    .p-hero {
        font-size: 15px;
    }

    .overflow-view {
        overflow-y: auto;
    }

    .space-hero {
        padding-left: 0;
    }
}
